@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand&display=swap');

*{
   font-family: 'Quicksand';
}

.App {
  text-align: center;
}

.horiNav{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 75px;
  align-items: flex-end;
}

.navLink{
  text-decoration: none;
  color:white;
  font-size: 1.4em;;
}

.flexRowNav{
  background-color: #282c34;
  height: 75px;
  width: 100%;

}
.formImg{
  max-width: 685px;
  max-height: 500px;
}

.formImgFlex{
  display: flex;
  justify-content: center;
}

.newForm{
  background-color: rgb(5, 5, 8);
  color:white;
  line-height: normal;
  height: 460px;
  padding-right:20px;
}

.formCenter{
  text-align: center;
}

#submitNew{
  background-color: snow;
}

#submitNew:hover{
   background-color: rgb(5, 5, 8);
   color:white;
}

.flexCarCards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aniCard{
  max-width: 400px;
  text-align: center;
  border: 2px solid black;
  position: relative;
  background-color:  #282c34;
  border-radius: 5px;
  height: 500px;
  margin-top: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.418);
  color: white;
  font-size: 1.2em;
}

.cardText{
  margin-top: 5px;
}

.carImg{
   max-height: 200px;
   width: 350px;
}

.flexWrapperRow{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flexWrapperRowButton{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}


.hide{
  display: none;
}

.editCardOverlay{
  background-color: rgba(0, 0, 0, 0.698);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}


/* ==========Car Card Buttons========== */
#delete{
  background-color: snow;
  border: 1px solid black;
}

#delete:hover {
   background-color: Red;
   color: snow;
}

#buy{
  background-color: snow;
  border: 1px solid black;
}

#buy:hover {
   background-color: LimeGreen;
   color: snow;
}

#edit{
  background-color: snow;
  border: 1px solid black;
}

#edit:hover {
   background-color: DodgerBlue;
   color: snow;
}

#editBack{
  z-index: 10;
  background-color: white;
  border: 1px solid black;
}

.textAlignCenter{
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ========== Footer ========== */
footer{
   text-align: center;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: #282c34;
   height: 80px;
}

p{
   color: white;
   margin-bottom: 3px;
}

.icons{
   width: 35px;
}

#header-searchForm{
text-align: center;
}

@media  (max-width: 1092px) {
  .newForm{
    position: absolute;
    z-index: 5;
  top: 360px;
  left: 260px;
  right: 0;
  bottom: 0;
    width:80%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  } 

}


@media  (max-width: 752px) {
  .newForm{
    position: absolute;
    z-index: 5;
  top: 360px;
  left: 192px;
  right: 0;
  bottom: 0;
    width:80%;
    background-color: rgba(0, 0, 0, 0);
  } 

}